<a id="example-modal__trigger-one" href="#">Open Modal</a>

<div class="example-modal" data-modal="example-modal__one">
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  Hit &lt;ESC&gt; to close or <a id="example-modal__trigger-two" href="#">open another modal</a>

  <div class="example-modal" data-modal="example-modal__two">
    <p>Lorem ipsum dolor sit amet.</p>
    <a class="example-modal__close" href="#">Close</a>
  </div>
</div>
