<a id="modal-1__trigger" href="#">Open Modal</a>

<div id="modal-1" class="example-modal">
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  <a id="modal-1__close" href="#">Close</a> or <a id="modal-2__trigger" href="#">Open another modal</a>

  <div id="modal-2" class="example-modal">
    <p>Lorem ipsum dolor sit amet.</p>
    <a id="modal-2__close" href="#">Close</a>
  </div>
</div>
