[data-carousel] {
  overflow: hidden;
}

[data-carousel-slider] {
  display: flex;
  transition: transform 0.4s;
  height: 100%;
}

[data-carousel-slider-jump] {
  transition-property: none;
}

[data-carousel-slide] {
  flex: 0 1 100%;
}
