.sticky-example {
  position: relative;
  margin-bottom: 75vh;
  background: gainsboro;
  height: 50vh;
}

.sticky-example__bar {
  background: slategray;
  padding: 20px;
  color: white;
}

.sticky-example__bar[data-sticky-stuck] {
  top: 0;
}

.sticky-example__bar[data-sticky-end] {
  position: absolute;
  top: initial;
  bottom: 0;
}
