.sticky-example {
  height: 50vh;
  margin-bottom: 75vh;
  position: relative;
  background: gainsboro;
}

.sticky-example__bar {
  background: slategray;
  color: white;
  padding: 20px;
}

.sticky-example__bar[data-sticky-stuck] {
  top: 0;
}

.sticky-example__bar[data-sticky-end] {
  position: absolute;
  top: initial;
  bottom: 0;
}
